* {
  user-select: none;
}

body {
  background-image: url("@/assets/background.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #a0a5a8;
}

/**/
.main {
  background-color: #e5845f;
  border-radius: 12px;
}

/**/
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem 12px;
  margin: 1rem 0;
  transition: 1.25s;
  background-color: #101827;
  border-radius: 12px;
}

.switch__container {
  display: flex;
  justify-content: center;
  column-gap: 0;
  flex-direction: column;
  padding: 5px;
  transition: 1.25s;
}

.switch__header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 5px;
}

.switch__body {
  align-items: center;
  padding: 20px;
}

.image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ecf0f3;
}

.form-parent {
  background-color: #151e2f;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

input {
  padding-left: 2rem;
  font-size: 1rem;
}

.form__input {
  width: 400px;
  height: 40px;
  margin: 4px 0;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
}

.form__input:focus {
  border: 3px solid #2869ff;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #ffff;
}

.form_title {
  line-height: 3;
}

.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 5;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #2869ff;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.user {
  width: 170px;
  height: 180px;
  border-radius: 50%;
  padding-top: 55px;
}

.footer {
  display: none;
}

.error {
  border: 2px solid #ff2121;
  border-radius: 10px;
  padding: 10px;
  color: #ff2121;
  background-color: #ffb8a2;
}
.status {
  border: 2px solid #0033ff;
  border-radius: 10px;
  padding: 10px;
  color: #0033ff;
  background-color: #84a8ff;
}

@media screen and (min-width: 980px) {
  .title {
    font-size: 2rem;
  }
  .switch {
    flex-direction: row;
  }
  .switch__container:first-child {
    width: 380px;
  }
  .switch__container {
    height: 100%;
    padding: 2rem 0;
  }
  .form-parent {
    width: 600px;
  }
  .switch__body {
    padding: 50px 30px;
  }
  .switch__header {
    padding: 20px 50px;
  }
  .footer {
    display: flex;
  }
}
