:root {
    --status-available: #2ba972;
    --status-available-before: rgba(43, 169, 114, 0.2);
    --status-reserved: #d9db64;
    --status-reserved-before: rgba(217, 219, 100, 0.2);
    --status-busy: #a32d2d;
    --status-busy-before: rgba(163, 45, 45, 0.2);
    --status-cleaning: #386f98;
    --status-cleaning-before: rgba(56, 111, 152, 0.2);
    --status-notOperational: #6b6666;
    --status-notOperational-before: rgba(107, 102, 102, 0.2);

    --btn-color-delete: #c92323e5;
    --btn-color-delete-light: #f73e3ee5;
    --btn-color-show: #18a011e5;
    --btn-color-show-light: #1edf14e5;
    --app-bg: #101827;
    --sidebar: rgba(21, 30, 47, 1);
    --sidebar-main-color: #fff;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: #fff;
    --sidebar-link: #fff;
    --sidebar-active-link: #1d283c;
    --sidebar-hover-link: #1a2539;
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #1d283c;
    --filter-reset: #2c394f;
    --input-radio: #2c394f;
    --filter-shadow: rgba(16, 24, 39, 0.8) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.light:root {
    --app-bg: #ebebeb;
    --sidebar: #d2d8e7;
    --app-content-secondary-color: #dadde5;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-main-color: #1f1c2e;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    --input-radio: #cdcfd3;
}